@using SmGenPar.Logic.Models
@using SmGenPar.Logic.Reflection
@using SmGenPar.Wasm.Components
@using System.Reflection
@using System.ComponentModel.DataAnnotations
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Parametrização
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @{
            var extendType = typeof(Extend);
            var properties = extendType.GetPropertiesCached();
            
            foreach (var propertyInfo in properties) {
                var displayAttribute = propertyInfo.GetCustomAttribute<DisplayAttribute>();
                var name = displayAttribute?.Name ?? propertyInfo.Name;
                
                var pageRef = $"Parametros/Extend/{propertyInfo.Name}";
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@pageRef">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>
                        @name
                    </NavLink>
                </div>
            }
        }

    </nav>
</div>

@code {
    
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}