@page "/Parametros/Extend"
@using System.Xml.Linq
@using System.Text.Json
@using SmGenPar.Logic.Models
@using SmGenPar.Wasm.Components

<h3>ParametrosExtend</h3>
<FormGen Model="@_model"
         OnSubmit="@OnValidSubmit">
    
    <button type="submit">Submit</button>
</FormGen>


@code {
    readonly Extend _model = new Extend();

    void OnValidSubmit()
    {
        var jsonOptions = new JsonSerializerOptions {
            WriteIndented = true,
        };
        Console.WriteLine(JsonSerializer.Serialize(_model, jsonOptions));
    }

    static XElement DictToXml(Dictionary<string, object> dict, string rootName = "root")
    {
        var root = new XElement(rootName);
        foreach ((string key, object value) in dict) {
            switch (value) {
            case null:
            case string str when string.IsNullOrWhiteSpace(str):
            case Dictionary<string, object> { Count: 0 }:
                break;

            case Dictionary<string, object> subDict:
                root.Add(DictToXml(subDict, key));
                break;

            default:
                root.Add(new XElement(key, value));
                break;
            }
        }
        return root;
    }
}