@page "/Parametros/Extend"
@using SmGenPar.Logic.Models
@using System.Xml.Linq

<h3>ParametrosExtend</h3>

<ReflectForm TType="Extend"
             OnValidSubmit="OnValidSubmit"
             Parameters="@FormResult"
             >
<button>Submit</button>
</ReflectForm>

@code {

    [Parameter]
    public Dictionary<string, object>? FormResult { get; set; } = new();

    void OnValidSubmit()
    {
        Console.WriteLine(DictToXml(FormResult!, "PostosHorarios").ToString());
    }

    static XElement DictToXml(Dictionary<string, object> dict, string rootName = "root")
    {
        var root = new XElement(rootName);
        foreach ((string key, object value) in dict) {
            switch (value) {
            case null:
            case string str when string.IsNullOrWhiteSpace(str):
            case Dictionary<string, object> {Count: 0}:
                break;

            case Dictionary<string, object> subDict:
                root.Add(DictToXml(subDict, key));
                break;

            default:
                root.Add(new XElement(key, value));
                break;
            }
        }
        return root;
    }
}